/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */

.gender-age-selector {
    font-size: 12px;
    font-weight: 700;
}

.brand {
    font-size: 10px;
}

.item-name {
    font-size: 14px;
    font-weight: 700;
}

.current-price, .full-price {
    font-size: 12px;
}
 
/* common */

body {
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* header */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 666;
    background-color: #FF6900;

}

nav > div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container div {
    padding: 10px 0;
}

nav img {
    width: 100px;
}

/* main */

.item {
    display: inline-block;
    width: 300px;  
    margin-top: 50px;     
}

.item .img-box {
    position: relative;
}

.item .img-box img {
    width: 100%;
    display: block;
}

.normal-img{
    position: absolute;
}

.normal-img {
    opacity: 1;
}

.normal-img:hover {
    opacity: 0;
}

.item .detail-item {
    color: black;
}

.current-price {
    color: red;
}

.full-price {
    text-decoration: line-through;
}

/* footer */


